<mat-card>
  <mat-card-header>
    <mat-card-title>{{titulo | uppercase}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <!-- ['id', 'nombre', 'ci', 'edad', 'telefono', 'correo']; -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre. </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>
      <ng-container matColumnDef="ci">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CI. </th>
        <td mat-cell *matCellDef="let element"> {{element.ci}} </td>
      </ng-container>
      <ng-container matColumnDef="edad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Edad. </th>
        <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
      </ng-container>
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono. </th>
        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
      </ng-container>
      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo. </th>
        <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
      </ng-container>
      <ng-container matColumnDef="historial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Historial. </th>
        <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="verPaciente(element)">Ver</button> </td>
      </ng-container>
      <ng-container matColumnDef="consulta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Consulta. </th>
        <td mat-cell *matCellDef="let element"> <button mat-raised-button color="accent" (click)="hacerConsulta(element)">Hacer</button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  </mat-card-content>

</mat-card>
